entrypoint = "server.ts"
run = "npm run start"
modules = ["angular-node-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4200
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Spring Boot Backend"

[[workflows.workflow]]
name = "Development Server"
author = 43938894
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Development Server"
author = 43938894
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"

[[workflows.workflow]]
name = "Spring Boot Backend"
author = 43938894
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && mvn spring-boot:run"

[deployment]
run = ["sh", "-c", "npm run serve:ssr:my-angular-project"]
build = ["sh", "-c", "npm run build"]
